@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}




body {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
}

.header {
  display:flex;
  justify-content:space-between;
  width:100%;
}

.content {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.footer {
  display:flex;
  justify-content:space-between;
  background-color:lightgrey;
  width:100%;
}

ul {
  list-style-type: none;
  display:flex;
  padding:8px;
  margin:8px;
  gap: 8px;
}

a {
  color: rgb(99, 99, 99);
  font-weight:bolder;
  text-decoration: none;
}

button {
  padding:8px 16px;
  font-weight:bolder;
}